@import "tailwindcss";
body{
    margin: 0;
    padding: 0;
}
/* Make the actual input inside the TimePicker show a pointer */
.ant-picker-input > input {
  cursor: pointer !important;
}
::selection {
  background: yellow;
  color: black; /* optional for contrast */
}
/* tailwind.css */
.question-card-selected {
  @apply border-2 border-[#8C2131] bg-white shadow-md scale-[1.01] transition-all duration-200 ease-in-out rounded-lg;
}

/* Disable text caret globally unless it's an input or textarea */
/* *:not(input):not(textarea) {
  caret-color: transparent;
} */



/* Base style for the segmented control */
.ant-segmented {
  background-color: #FAF7F7;
  padding: 4px;
  border: 1px solid #E0E0E0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
}

/* Selected item label text color */
.ant-segmented-item-selected .ant-segmented-item-label {
  background-color: #8C2131 !important; /* or var(--color-accent), or any Calvin color */
  font-weight: 600;
  color: #fff !important;
  border-radius: 5px;
}

.ant-segmented-thumb {
  background-color: #8C2131 !important;
  border-radius: 16;
  color: #fff !important;

  transition: all 0.3s ease;
}
